body {
	background-image: url(img/back.jpg);
	font-family: Trebuchet MS;
	font-weight: lighter;
}

/* HEADER */

header	{
	background-color: #fff;
}

header ul {
	float: left;
	padding: 48px 0 24px 70px;
}

header ul li {
	list-style-type: none;
	display: inline;
	margin-right: 100px;
}

header ul li:last-child {
	margin-right: 0;
}

header ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #003663;
	padding-bottom: 18px;
}

header ul li a:hover {
	color: #ca133f;
	border-bottom: 1px solid #ca133f;

}

header img {
	float: right;
	padding: 35px 35px 35px 0;
}

header:after {
	content: "";
	display: block;
	clear: both;
}




/* MIDDLE */



		/* LEFT BOX */

#middle h1	{
	font-size: 44px;
	color: #ca133f;
	margin: 40px 0 40px 40px;
	font-weight: lighter;
}

#middle ul li {
	background-color: #fff;
	margin-bottom: 45px;
}

#middle ul li img.main {
	float: left;
	padding: 4.7% 0 4.7% 10.9%;
	width: 33.4%;
}

#middle ul li:last-child {
	margin-bottom: 0;
}



		/* RIGHT BOX */

#middle ul li .box {
	float: right;
	width: 50%;
}

#middle ul li .box h2 {
	font-size: 50px;
	color: #000;
	padding-top: 50px; 
	font-weight: lighter;
}

#middle ul li .box h3 {
	font-size: 50px;
	color: #3fe0cc;
	padding-top: 10px; 
	font-weight: lighter;
}

#middle ul li .box .price {
	padding-top: 35px;
	width: 197px;
}

#middle ul li .box .price img {
	float: left;
	width: 15%;
}

#middle ul li .box .price h4 {
	float: right;
	font-size: 29px;
	font-weight: lighter;
	padding-left: 17px;
}

#middle ul li .box>h5 {
	font-size: 29px;
	font-weight: lighter;
	padding-top: 26px;
}

#middle ul li .box>h5 span.ACF {
	color: #3fe0cc;
}

#middle ul li .box .buttons {
	padding-top: 25px;
	width: 378px;
}

#middle ul li .box .buttons .button-left:hover {
	background-color: #dfdede;
	cursor: pointer;
}

#middle ul li .box .buttons .button-right:hover {
	background-color: #dfdede;
	cursor: pointer;
}

#middle ul li .box .buttons .button-left {
	float: left;
	width: 164px;
	margin-right: 26px;
	border: 1px solid #000;
	padding: 10px 10px;
}

#middle ul li .box .buttons .button-left img {
	float: left;
	width: 15%;
}

#middle ul li .box .buttons .button-left h5 {
	float: left;
	font-size: 25px;
	font-weight: lighter;
	padding-left: 10px;
}

#middle ul li .box .buttons .button-right {
	float: right;
	width: 164px;
	border: 1px solid #000;
	padding: 6px 0;
}

#middle ul li .box .buttons .button-right img {
	float: left;
	padding-left: 30px;
	width: 15%;
}

#middle ul li .box .buttons .button-right h5 {
	float: left;
	font-size: 25px;
	font-weight: lighter;
	padding-left: 10px;
	padding-top: 5px;
}

#middle ul li .box .buttons:after {
	content: "";
	display: block;
	clear: both;
}

#middle ul li .box>img {
	padding-top: 47px;
	padding-left: 20px;
	width: 25%;
}

#middle ul li .box .price:after {
	content: "";
	display: block;
	clear: both;
}

#middle li:after {
	content: "";
	display: block;
	clear: both;
}



		/* COLORING */

#middle ul li .box h3.CF {
	color: #dcb302;
}

#middle ul li .box>h5 span.CF {
	color: #dcb302;
}

#middle ul li .box h3.K9E {
	color: #274f8d;
}

#middle ul li .box>h5 span.K9E {
	color: #274f8d;
}

#middle ul li .box h3.ZLXI {
	color: #b0d038;
}

#middle ul li .box>h5 span.ZLXI {
	color: #b0d038;
}

#middle ul li .box h3.LH {
	color: #000;
}

#middle ul li .box>h5 span.LH {
	color: #000;
}

#middle ul li .box h3.LXIIIE {
	color: #bf0215;
}

#middle ul li .box>h5 span.LXIIIE {
	color: #bf0215;
}

#middle ul li .box h3.KO9E {
	color: #1196b6;
}

#middle ul li .box>h5 span.KO9E {
	color: #1196b6;
}




/* FOOTER */

.foot {
	padding: 60px 0;
	text-align: center;
}

footer {
	background-color: #fff;
	text-align: center;
}

footer ul {
	margin: 0 auto;
	padding: 55px 0;
}

footer ul li {
	display: inline;
	margin-right: 50px;
}

footer ul li:last-child {
	margin-right: 0;
}

footer ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #003663;
	padding-bottom: 18px;
}

footer ul li a:hover {
	color: #ca133f;
	border-bottom: 1px solid #ca133f;

}




/* MEDIA QUERIES */

@media screen and (max-width: 1230px) {

	header {
		text-align: center;
	}

	header ul {
		float: none;
		padding: 48px 0 0 0;
	}

	header img {
		float: none;
		padding: 35px 0 35px 0;
	}

}


@media screen and (max-width: 910px) {

	header ul li {
		margin-right: 50px;
	}

	#middle ul li .box h2 {
		font-size: 30px;
	}

	#middle ul li .box h3 {
		font-size: 30px;
	}

	#middle ul li .box .price h4 {
		font-size: 19px;
		padding-left: 0;
		padding-right: 67px;
	}

	#middle ul li .box .price img {
		width: 10%;
	}

	#middle ul li .box>h5 {
		font-size: 19px;
	}

	#middle ul li .box .buttons .button-left {
		width: 100px;
		margin-right: 20px;
		padding: 10px 10px;
	}

	#middle ul li .box .buttons .button-left h5 {
		font-size: 15px;
	}

	#middle ul li .box .buttons .button-right {
		width: 100px;
		margin-right: 134px;
	}

	#middle ul li .box .buttons .button-right img {
		padding-left: 20px;
		padding-top: 5px;
		width: 10%;
	}

	#middle ul li .box .buttons .button-right h5 {
		font-size: 15px;
		padding-bottom: 3px;
	}

}


@media screen and (max-width: 640px) {

	
	
}
